@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    var isLoggedIn = session.GetInt32("userId") != null;
    var showModal = !String.IsNullOrEmpty(session.GetString("modalTitle"));
    var modalTitle = session.GetString("modalTitle");
    var modalMessage = session.GetString("modalMessage");
    string headerMode = (string)ViewData["headerMode"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Wizards' Game Shop</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Jost">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/sanitize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="flex-center">
        <nav class="nav contents flex-center-vertical">
            @if (headerMode != "Employee")
            {
                <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" title="The Wizards' Game Shop" alt="The Wizards' Game Shop" /></a>
            }
            else
            {
                <a class="nav-logo" asp-area="" asp-controller="Users" asp-action="Employee"><img src="~/images/logo.png" title="The Wizards' Game Shop" alt="The Wizards' Game Shop" /></a>
                <div class="nav-mode">Employee</div>
            }

            @*<ul class="nav-menu flex-center-vertical">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Games" asp-action="Index">Browse</a>
            </li>
        </ul>*@
            @if (headerMode != "Employee")
            {
        <div class="nav-search">
            <form asp-controller="Games" asp-action="Search" method="get" class="nav-search">
                <input placeholder="Search" id="nav-search-input" name="keyword" value="@ViewData["SearchKeyword"]" autocomplete="off" />
                <button type="submit" class="nav-search-btn"><span class="material-icons">search</span></button>
            </form>
            <div class="nav-search-suggestions" id="nav-search-suggestions" style="display: none;">
                @*@Html.Partial("~/Views/Games/SearchSuggestions.cshtml")*@
                <iframe src="/Games/SearchSuggestions" id="nav-search-suggestions-iframe" frameborder="0" scrolling="auto" onload="resizeIframe(this);"></iframe>
            </div>
        </div>
            }
        <ul class="nav-menu flex-center-vertical absolute-right">
            @if (isLoggedIn)
            {
                @if (headerMode == "Employee")
                {
                    <li>
                        <a nohref class="account flex-center-vertical" style="pointer-events: none;"><span class="material-icons">account_circle</span>@session.GetString("userName")</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Menu" class="account flex-center-vertical"><span class="material-icons">account_circle</span>@session.GetString("userName")</a>
                    </li>
                    <li>
                        <a onclick="alert('Not available', 'Coming soon');">Cart</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Create">Sign Up</a>
                </li>
            }
        </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="flex-center">
        <div class="contents flex-center-vertical">
            &copy; 2020 - TheWizardsGameShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="modal" id="modal" style="display: none;">
        <div class="modal-blocker" onclick="closeModal();"></div>
        <div class="modal-window">
            <h2 id="modal-title"></h2>
            <p id="modal-message"></p>
            <p class="modal-buttons" id="modal-buttons">
                <a class="btn btn-primary" id="modal-ok"></a>
                <a class="btn" id="modal-close" onclick="closeModal();">Cancel</a>
            </p>
        </div>
    </div>

    @if (showModal)
    {
        <div class="modal" id="cmodal">
            <div class="modal-blocker" onclick="closeModal();"></div>
            <div class="modal-window">
                <h2 id="cmodal-title">@modalTitle</h2>
                <p id="cmodal-message">@modalMessage</p>
                <p class="modal-buttons" id="cmodal-buttons">
                    <a class="btn btn-primary" id="cmodal-ok" asp-controller="Users" asp-action="CloseModal">OK</a>
                </p>
            </div>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var searchInput = document.getElementById('nav-search-input');
        searchInput.addEventListener('input', loadSearchSuggestions);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>