@model IEnumerable<TheWizardsGameShop.Models.Game>

@{ 
    ViewData["Title"] = "Manage Games";
    ViewData["HeaderMode"] = "Employee";
}

<div class="page contents" id="pageGames" --data-theme="employee-portal">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">category</span>Games</h1>
    </div>
    <div class="page-body">
        <p class="page-submenu">
            <a asp-controller="Users" asp-action="Employee" class="item">&lt; Back to Menu</a>
            <span class="float-right">
                <a asp-action="Create" class="btn btn--s btn--primary">Add Game</a>
            </span>
        <p class="page-number text-center">
            <a href="?pageNo=1" class="link">&lt;&lt;</a>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                @if (i == ViewBag.PageNo)
                {
                    <a nohref class="link bold">@i</a>
                }
                else
                {
                <a href="?pageNo=@i" class="link">@i</a>
                }

            }
                <a href="?pageNo=@ViewBag.TotalPages" class="link">&gt;&gt;</a>
</p>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 45%;">
                        @Html.DisplayNameFor(model => model.GameName)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.GameDescription)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.GamePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameQty)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.GameDigitalPath)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.GameCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameStatusCodeNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            <a asp-action="Details" asp-route-id="@item.GameId" class="link">@Html.DisplayFor(modelItem => item.GameName)</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.GameDescription)
        </td>*@
        <td>
            $@Html.DisplayFor(modelItem => item.GamePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameQty)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.GameDigitalPath)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.GameCategory.GameCategory1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameStatusCodeNavigation.GameStatusCode)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.GameId" class="btn btn--s">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.GameId" class="btn btn--s">Delete</a>
            <a asp-controller="GameImages" asp-action="Create" asp-route-gameId="@item.GameId" class="btn btn--s">Upload Image</a>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>