@model IEnumerable<TheWizardsGameShop.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<div class="page contents" id="pageGames">
    <div class="page-header flex-center">
        <h1>Games</h1>
    </div>
    <div class="page-body">
        <p class="page-tabs">
            
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GameName)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.GameDescription)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameQty)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.GameDigitalPath)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameStatusCodeNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.GameDescription)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameQty)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.GameDigitalPath)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameCategory.GameCategory1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameStatusCodeNavigation.GameStatusCode)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.GameId">Details</a>
        </td>
    </tr>}
            </tbody>
        </table>
</div>