@model IEnumerable<TheWizardsGameShop.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<div class="page contents" id="pageGames" --data-theme="games">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">search</span>Search result for @ViewData["SearchKeyword"]</h1>
    </div>
    <div class="page-body">
        <div class="page-submenu">
            @*<a asp-controller="Home" asp-action="Index" class="item">&lt; Home</a>*@
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameName)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.GameDescription)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.GamePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameQty)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.GameDigitalPath)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.GameCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameStatusCodeNavigation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && ViewBag.Count > 0)
                {

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="/images/@Html.DisplayFor(modelItem => item.GameId)/00.png" style="width: 80px;" />
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.GameId" class="link">@Html.DisplayFor(modelItem => item.GameName)</a>
</td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.GameDescription)
                    </td>*@
                    <td>
                        $@Html.DisplayFor(modelItem => item.GamePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameQty)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.GameDigitalPath)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.GameCategory.GameCategory1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameStatusCodeNavigation.GameStatus1)
                    </td>
                </tr>}
                }
                else
                {
                    <tr>
                        <td colspan="6" style="text-align: center; font-size: 1.25em; width: 100%; padding: var(--spacing) 0;">No games found</td>
                    </tr>
                }
            </tbody>
        </table>
</div>