@model IEnumerable<TheWizardsGameShop.Models.Address>

@{ ViewData["Title"] = "Addresses"; }

<div class="page contents" id="pageAddresses" --data-theme="my-account">
    <div class="page-header flex-center">
        <h1>Addresses</h1>
    </div>
    <div class="page-body">
        <p class="page-submenu">
            <a asp-controller="Users" asp-action="Menu" class="item">&lt; Back to Menu</a>
        </p>
        <div class="list">
            <a asp-action="Create" class="item clickable add flex-center">
                <span class="material-icons">add_circle</span>
                <p>Add Address</p>
            </a>
            @foreach (var item in Model)
            {
        <div class="item">
            <p>
                @Html.DisplayFor(modelItem => item.Street1)
            </p>
            @if (!String.IsNullOrEmpty(item.Street2))
            {
        <p>
            @Html.DisplayFor(modelItem => item.Street2)
        </p>}

            <p>
                @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.ProvinceCode) @Html.DisplayFor(modelItem => item.PostalCode)
            </p>
            <p>
                (@item.AddressType.AddressTypeName)
            </p>
            <p class="item-options">
                <a asp-action="Edit" asp-route-id="@item.AddressId" class="option"><span class="material-icons">edit</span> Edit</a>
                <a asp-action="Delete" asp-route-id="@item.AddressId" class="option" id="btn-delete-@item.AddressId" style="display: none;"><span class="material-icons">delete</span> Delete</a>
                <a class="option" onclick="confirm('Delete Address', 'Are you sure to delete the address?', 'Delete', 'btn-delete-@item.AddressId');"><span class="material-icons">delete</span> Delete</a>
            </p>
        </div>}
        </div>
    </div>
</div>